.modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3#myModalLabel Projeto
.modal-body(style='background-color: #6D1943;')
        .span3.pull-left
            #player
            #message
            p Até agora: #{ratio}% de #{project.credit} créditos
            .progress(style='width:320px')
              .bar(style="width:#{ratio}%;")
        .span3.pull-right
          h2
            #{project.name}
          {{project.content|safe}}
        .id.hidden #{project.id}
        .token.hidden #
.modal-footer
        button.btn.btn-danger.deletable Remover
        button.btn.btn-success.invest Investir
        button.btn.btn-primary.promote Promover