head
    script(type='text/javascript', src='static/js/promoteapp.js')
    script(type='text/javascript', src='static/js/promoteevents.js')
body
    .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h3#myModalLabel Evento
    .modal-body(style='background-color: #00A946;')
            .span4.pull-left(style='background:none;')
                #player(href='#')
                    img(src='http://maps.googleapis.com/maps/api/staticmap?center=#{location}&zoom=15&size=640x400&maptype=roadmap&sensor=false')
                #message
                .progress
                  .bar(style="width:#{ratio}%;")
                .justified.divider
                  a.pledge
                    h1.inline #{ratio}% já alcançado
                  div
                    h1.inline #{remaining} 
                    if remaining == 1
                      h2.inline(style='font-weight:normal') dia para o evento
                    else
                      h2.inline(style='font-weight:normal') dias para o evento
                  a.backers
                    h1.inline #{buyers} 
                    h2.inline(style='font-weight:normal') participarão do evento
            .span3.pull-left.justified.promotecontent
                h1
                  #{title} em #{location}
                h2
                  #{event.deadline.date}
                img(src='#{event.visual}')
                p
                  | #{event.description}
            .id(style='display:none;') #{eventid}
            .token(style='display:none;') @!
    .modal-footer
            button.btn.btn-danger.deletable Remover
            button.btn.btn-primary.send.promote(data-loading-text='Promovendo...') Promover
            button.btn.btn-success.second.pledge(data-loading-text='Investindo...') Inscrever

