head
    script(type='text/javascript', src='static/js/promoteapp.js')
    script(type='text/javascript', src='static/js/promoteevents.js')
body
    .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h3#myModalLabel Projeto
    .modal-body(style='background-color: #6D1943;')
            .span4.pull-left(style='background:none;')
                #player(href='#{project.ytoken}')
                #message
                .progress
                  .bar(style="width:#{ratio}%;")
                .justified.divider
                  a.pledge
                    h1.inline #{ratio}%
                    h2.inline(style='font-weight:normal') de R$ #{project.credit},00
                  div
                    h1.inline #{remaining} 
                    if remaining == 1
                      h2.inline(style='font-weight:normal') dia para o fim do projeto
                    else
                      h2.inline(style='font-weight:normal') dias para o fim do projeto
                  a.backers
                    h1.inline #{backers} 
                    h2.inline(style='font-weight:normal') apoiando o projeto
            .span3.pull-left.justified.promotecontent
              h2
                #{project.name}
              {{project.content|safe}}
            .id.hidden #{project.id}
            .userid.hidden #{project.user_id}
            .token.hidden @#
    .modal-footer
            button.btn.btn-danger.deletable(data-loading-text='Removendo...') Remover
            button.btn.btn-primary.send.promote(data-loading-text='Promovendo...') Promover
            button.btn.btn-success.second.pledge(data-loading-text='Investindo...') Investir
