      if object.token == '@@'
        a.span3.block.event(href='#',style='background: #F50000')
          .box
            .content 
              h2 #{object.name_trimmed} em #{object.location}
              h3.centered Valor do ingresso: R$ #{object.value},00
            img(src='#{object.visual}')
            .id.hidden #{object.id}
          .date #{object.deadline.day} de #{object.month}
      if object.token == '@#'    
        a.span3.block.promoted(href='#',style='background: #8F3B65; color:white')
          .comment(style='background:#4B0721')
          .comment(style='background:#6D1943')
          .box
            .content
              h2 Projeto promovido por #{object.user.username} e outros
              #{object.content}
            .id.hidden #{object.id}
            .promotedid.hidden #{object.prom}
            .promotedtoken.hidden #{object.stoken}
          .date #{object.date.day} de #{object.month}
      if object.token == '$#'    
        a.span3.block.promoted(href='#',style='background: #57F2F6; color:white')
          .comment(style='background:#13C0B2')
          .comment(style='background:#35E0D4')
          .box
            .content
              h2 Projeto promovido em um movimento de #{object.user.username}
              #{object.content}
            .id.hidden #{object.id}
            .promotedid.hidden #{object.prom}
            .promotedtoken.hidden #{object.stoken}
          .date #{object.date.day} de #{object.month}
      if object.token == '@!'
        a.span3.block.promoted(href='#',style='background: #F70000; color:black')
          .comment(style='background:#D30000')
          .comment(style='background:#F50000')
          .box
            .content
              h2 Eventos promovidos por #{object.user.username} e outros
              #{object.content}
            .id.hidden #{object.id}
            .promotedid.hidden #{object.prom}
            .promotedtoken.hidden #{object.stoken}
          .date #{object.date.day} de #{object.month} 
      if object.token == '#'
        a.span3.block.project(href='#',style='display:block; color:white; background-color:#6D1943')
          .box
            .content
              h2 #{object.name_trimmed}
              h3.centered Valor a ser alcan&ccedil;ado: R$ #{object.credit},00
              if object.funded
                h2.funded.lightgreen Projeto financiado
              {{ object.content|safe }}
            img(src='#{object.visual}')
            .id.hidden #{object.id}
          .date #{object.end_time.day} de #{object.month}
      if object.token == '##'
        a.span3.block.movement(href='#',style='background-color:#35E0D4')
          .box
            .content
              h2.title Movimento #{object.name_trimmed}
              .id.hidden #{object.id}
          .date #{object.date.day} de #{object.month}

