!!! 5
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Plethora
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='#{static_url}css/bootstrap.min.css')
    link(rel='stylesheet', href='#{static_url}css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='#{static_url}css/wysiwyg-color.css')
    link(rel='stylesheet', href='#{static_url}css/efforia.css')
    link(rel='shortcut icon', href='#{static_url}img/logo.png')
    script(type='text/javascript', src='#{static_url}js/vendor/coffeescript.js')
    script(type='text/javascript', src='#{static_url}js/vendor/jquery.min.js')
    script(type='text/javascript', src='#{static_url}js/vendor/jquery.masonry.min.js')
    script(type='text/javascript', src='#{static_url}js/vendor/jquery.infinitescroll.min.js')
    script(type='text/javascript', src='#{static_url}js/vendor/jquery.tubeplayer.js')
    script(type='text/javascript', src='#{static_url}js/vendor/jquery.html5.fileupload.js')
    script(type='text/javascript', src='#{static_url}js/vendor/bootstrap.min.js')
    script(type='text/javascript', src='#{static_url}js/vendor/bootstrap.wysihtml5.min.js')
    script(type='text/javascript', src='#{static_url}js/vendor/bootstrap.wysiwyg.min.js')
    script(type='text/javascript', src='#{static_url}js/vendor/bootstrap.wysiwyg.pt-BR.js')
    script(type='text/javascript', src='#{static_url}js/vendor/modernizr.min.js')
    script(type='text/javascript', src='#{static_url}js/efforia.js')
    script(type='text/javascript', src='#{static_url}js/animation.js')
    script(type='text/javascript', src='#{static_url}js/globals.js')
    script(type='text/javascript', src='#{static_url}js/events.js')
    script(type='text/javascript', src='#{static_url}js/app.js')
    script(type='text/coffeescript',src='#{static_url}js/sandbox.coffee')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#{static_url}#', style='padding: 0px;')
            img(src='#{static_url}img/efforia.png', style='margin-top:2px;')
          .nav-collapse.collapse
            ul.nav
              li
                a(href='facebook') Facebook
              li
                a(href='twitter') Twitter
              li
                a(href='http://www.youtube.com/user/EfforiaTV') YouTube
              each p in pages
                li
                  a.page(href='#') #{p.name}
              //li.dropdown
                a.dropdown-toggle(href='#{static_url}#', data-toggle='dropdown')
                  | Informações
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='#{static_url}#') Direitos Autorais
                  li
                    a(href='#{static_url}#') Termos de uso
                  li
                    a(href='#{static_url}#') Regras
                  li.divider
                  li.nav-header A empresa
                  li
                    a(href='#{static_url}#') Contato
                  li
                    a(href='#{static_url}#') Sobre
            button.btn.register.pull-right.btn-primary Participar
            .inline
            form.navbar-form.pull-right(action='enter',style='margin:0px 5px;')
              input.span2(name='username', type='text', placeholder='Usuário')
              input.span2(name='password', type='password', placeholder='Senha')
              button.btn.login(type='submit',data-loading-text='Entrando...') Entrar
    .container.main(style='margin-top:45px')
      .hero-unit(style='color:black;')
        h1
          | O
          div(style='display: inline; color: red;') EFFORIA
          | é uma agência de criação.
        p
          | O Efforia conta com produtos criativos para a Web na área de investimentos coletivos (crowdfunding), comércio social (social commerce) e publicação social (social publishing), além da própria criação de animações, websites e hotsites. A agência dispõe de tudo que você estava precisando para dar aquele boom no seu negócio na Internet. Tudo isso de uma forma simples, fácil e rápida, e bem adaptada às necessidades do empresário.
        //p
          a.btn.btn-primary.btn-large Saiba mais
      .row(style='margin:auto')
        .span4.module(style='background-color: #00b34b; margin: 0px 10px; color:white;')
            h2 ESPALHE
            div(style='text-align: center;')
              img(src='#{static_url}img/spread.png', style='height: 175px;')
            p.content
              | A plataforma conta com a integração das maiores redes sociais, como o Facebook para postagens e eventos, o YouTube para vídeos e o Twitter. Desde o seu princípio, o Efforia tem um DNA social.
        .span4.module(style='background-color: #156AFF; margin: 0px 10px; color: white;')
            h2 COMPRE
            div(style='text-align: center;')
              img(src='#{static_url}img/store.png', style='height: 175px;')
            p.content
              | Contando sempre com a confiabilidade da  PayPal, junto com um serviço inédito de frete em parceria com o Correios, o PayPal Frete Fácil, você tem a garantia de um bom serviço de comércio eletrônico.
        .span4.module(style='background-color: #741B47; margin: 0px 10px; color: white')
            h2 PROMOVA
            div(style='text-align: center;')
              img(src='#{static_url}img/create.png', style='height: 175px;')
            p.content
              | Está sem ideia ou grana para um novo produto para sua loja? Deixe que os seus clientes te dêem uma forçinha para isso, a partir do investimento coletivo, também chamado de crowdfunding.
      .row(style='margin:auto')
              #Grade
      #Espaco.modal.hide.fade.newusers
      hr
      footer(style='text-align:center;')
              div(style='display:inline; font-weight:bold') Agência de Criação Efforia
              div(style='display:inline;') - Rua Antônio Joaquim Mesquita, 296 - Porto Alegre/RS - Brasil
    //
       /container
    //- script
      //- var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      //- (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      //- g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      //- s.parentNode.insertBefore(g,s)}(document,'script'));
