!!! 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Plethora
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', type='text/css', href='#{static_url}css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='#{static_url}css/bootstrap-responsive.min.css')
    link(rel='stylesheet', type='text/css', href='#{static_url}css/bootstrap-wysiwyg.css')
    link(rel='stylesheet', type='text/css', href='#{static_url}css/datepicker.min.css')
    link(rel='stylesheet', type='text/css', href='#{static_url}css/wysiwyg-color.css')
    link(rel='stylesheet', type='text/css', href='#{static_url}css/efforia.css')
    link(rel='shortcut icon', href='#{static_url}img/logo.png')
    script(type='application/json', src='#{static_url}json/elements.json')
    script(type='text/javascript', src='#{static_url}js/vendor/coffeescript.js')
    script(type='text/javascript', src='#{static_url}js/vendor/jquery.min.js')
    script(type='text/javascript', src='#{static_url}js/vendor/jquery.masonry.min.js')
    script(type='text/javascript', src='#{static_url}js/vendor/jquery.infinitescroll.min.js')
    script(type='text/javascript', src='#{static_url}js/vendor/jquery.tubeplayer.js')
    script(type='text/javascript', src='#{static_url}js/vendor/jquery.html5.fileupload.js')
    script(type='text/javascript', src='#{static_url}js/vendor/bootstrap.min.js')
    script(type='text/javascript', src='#{static_url}js/vendor/bootstrap.wysihtml5.min.js')
    script(type='text/javascript', src='#{static_url}js/vendor/bootstrap.wysiwyg.min.js')
    script(type='text/javascript', src='#{static_url}js/vendor/bootstrap.wysiwyg.pt-BR.js')
    script(type='text/javascript', src='#{static_url}js/vendor/bootstrap.datepicker.js')
    script(type='text/javascript', src='#{static_url}js/vendor/bootstrap.datepicker.pt-BR.js')
    script(type='text/javascript', src='#{static_url}js/efforia.js')
    script(type='text/javascript', src='#{static_url}js/animation.js')
    script(type='text/javascript', src='#{static_url}js/globals.js')
    script(type='text/javascript', src='#{static_url}js/events.js')
    script(type='text/javascript', src='#{static_url}js/app.js')
    script(type='text/coffeescript', src='#{static_url}js/main.coffee')
  body
    .navbar.navbar-fixed-top
        .navbar-inner
            .container
                button.btn.btn-navbar(data-toggle='collapse',data-target='.nav-collapse',type='button',style='margin-right:20px')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand(href='/')
                    img.left.trade(src='#{static_url}img/efforia.png',style='margin-top:2px; padding:0px')
                .nav-collapse.collapse
                    ul.nav.pull-left
                    form.explore.navbar-search.pull-left(action='explore',method='GET',style='margin:5px 10px; min-width:25%;')
                        input(name='explore',style='font-family:Lucida Sans,Ubuntu',type="text",class="search-query",placeholder="O que você quer explorar hoje?")
                    ul.nav.pull-right.menu-green
                        for name,link in apps
                            li.hspace
                                a.app(style='color:white; text-shadow:none',href='#{link}') #{name}
                        li.hspace.dropdown
                            button.btn.btn-black.profilebutton(style='margin-right:5px',href='#',class="dropdown-toggle",data-toggle="dropdown")
                                i.icon-cog.icon-white
                                .profilename.inline
                                  | #{name}
                            ul.dropdown-menu
                                .profilehead
                                  img(src='#{user.profile.visual}',width='100%')
                                  h2
                                      dl
                                          dt  {{ user.first_name }}
                                  .id.hidden #{user.profile.id}
                                li
                                    .paypal.hidden
                                li
                                    .pagseguro.hidden
                                li
                                    a.cart(href='efforia/basket') Cesto de compras
                                li
                                    a.following(href='efforia/following') Seguindo
                                li
                                    a.app(href='efforia/config') Ajustes
                                li
                                    a.logout(href='#') Sair
    #Grade
    #Canvas.FixoCentral
      canvas#efforia
    #Espaco.modal.hide.fade
    #Progresso.modal.hide.fade.content
      img(src='static/img/progress.gif')
      .message.inline.divider.pull-right
        | Carregando...
