.span5
    button.btn.btn-block.btn-large.twitter(href='http://social.efforia.com.br/twitter?node=#{hostname}/efforia&session=#{session}')
        img(width="36",src="#{static_url}img/twitter.png",style='margin:0px 5px')
        .divider.inline Integrar sua conta com o Twitter
    button.btn.btn-block.btn-large.facebook(href='http://social.efforia.com.br/facebook?node=#{hostname}/efforia&session=#{session}')
        img(width="36",src="#{static_url}img/facebook.png",style='margin:0px 5px')
        .divider.inline Integrar sua conta com o Facebook
    button.btn.btn-block.btn-large.youtube(href='http://social.efforia.com.br/google?node=#{hostname}/efforia&session=#{session}')
        img(width="36",src="#{static_url}img/youtube.png",style='margin:0px 5px')
        .divider.inline(style='color:black;') Integrar sua conta com o YouTube
