form#profile(action='profile')
      label.span2 Usuário    
      input.span3(name='user',placeholder='#{ profile.user.username }',type='text')
      label.span2 Email              
      input.span3(name='email',placeholder='#{ profile.user.email }',type='text')
      label.span2 Nome               
      input.span3(name='name',placeholder='#{name}',type='text')
      label.span2 Sobrenome  
      input.span3(name='lastn',placeholder='#{sname}',type='text')
      label.span2 Aniversário
      input.span3.datepicker(name='birth',placeholder='#{birth}',type='text')
      #passwordchange
      a#password.passwordchange.btn.btn-block Trocar a senha
