.modal-header
  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
  h3 Participar
.modal-body
  form.registerview(action='participate',method='POST')
    input.span3(type='text',name='name',placeholder='Nome completo')
    input.username.span3(type='text',name='username',placeholder='Usuário')
    input.password.span3(name='password',type='password',placeholder='Senha')
    input.span3(name='repeatpassword',type='password',placeholder='Repetir a senha')
    button.btn.btn-primary.participate(type='submit') Participar do Efforia
  button.btn.btn-block.btn-large.twitter(href='http://social.efforia.com.br/twitter?node=#{hostname}&session=1')
    img(width="36",src="#{static_url}img/twitter.png",style='margin:0px 5px')
    .divider.inline Fazer login com o Twitter
  button.btn.btn-block.btn-large.facebook(href='http://social.efforia.com.br/facebook?node=#{hostname}&session=1')
    img(width="36",src="#{static_url}img/facebook.png",style='margin:0px 5px')
    .divider.inline Fazer login com o Facebook
  button.btn.btn-block.btn-large.youtube(href='http://social.efforia.com.br/google?node=#{hostname}&session=1')
    img(width="36",src="#{static_url}img/youtube.png",style='margin:0px 5px')
    .divider.inline(style='color:black;') Fazer login com o YouTube