each object in f
  if object.token == '^'
    .span3.block(style='display: none;')
      a.back(href='#', style='float: left; color: black; width: 100%;')
        div(style='background: white; top: 0%; display: block; text-align: center;')
          img(src='#{static_url}img/spin.png', height='100%')
  if object.token == '*'
    .span3.block
      a(href='#')
        if object.action == 'create'
          .creation
        if object.action == 'buy'
          .purchase
        if object.action == 'play'
          .play
        if object.action == 'new'
          .new
        else
          .selection(style="background:black; color:white; top:0%; display:block;")
          .details(style='text-align: center;')
            h2
              if object.action == 'new' 
                Selecionar novos
              if object.action == 'create'
                Adicionar
              if object.action == 'buy'
                Comprar
              if object.action == 'play'
                Tocar
              else
                Selecionar
              .title(style='display: inline;') 
                #{object.vals.quantity} Itens
            p
              .description(style='display: inline;') 
                #{object.vals.value} Créditos
  if object.token == '++'
    .span3.block.fade
      a(href='#')
        .mosaic-overlay(style='top: 0%; display: block;')
          .details(style='text-align: center;')
            h2
              if object.quantity != 1 
                #{object.quantity} #{object.product_trimmed}
            p #{object.total_value} Créditos
            .time(style='display: none;') #{object.product.date}
          .date #{object.product.date.day} de #{object.product_month}
      div(style='top: 0; background: white; text-align: center;')
        if object.product.visual != true
          img(src='#{static_url}img/playit.png', height='100%')
        else
          img(src='#{object.product.visual}', height='100%')
  if object.token == '&'
    .span3.block.fade
      a(href='#')
        .product.mosaic-overlay(style='top: 0%; display: block;')
          .details
            h2 #{object.name_trimmed}
            .time(style='display: none;') #{object.date}
          .date #{object.date.day} de #{object.real_month}
      div(style='top: 0; background: white; text-align: center;')
        if object.visual != true
          img(src='#{static_url}img/playit.png', height='100%')
        else
          img(src='#{object.visual}', height='100%')
  if object.token == '@!'
    .span3.block
      a(href='#')
        .spreadablespread(style='background: red; top: 0%; display: block;')
          .details
            | #{object.content_trimmed}...
            .time(style='display: none;') #{object.date};#{object.token}
          .date #{object.date.day} de #{object.month}
        .spreadablespread(style='background: black; top: 33%; display: block; height: 33%;')
        .spreadablespread(style='background: white; top: 66%; display: block; height: 34%;')
  if object.token == '@$'
    .span3.block
      a(href='#')
        .eventspread(style='background: white; color: black; top: 0%; display: block;')
          .details
            #{object.name_trimmed}
            .time(style='display: none;') #{object.date};#{object.token}@
          .date #{object.date.day} de #{object.month}
        .eventspread(style='background: black; top: 33%; display: block; height: 33%;')
        .eventspread(style='background: red; top: 66%; display: block; height: 34%;')
  if object.token == '!'
    .span3.block
      a(href='#')
        .spreadable(style='background: #00A946; top: 0%; display: block;')
          .details
            | #{object.content}
            .time(style='display: none;') #{object.date};#{object.token}
          .date #{object.date.day} de #{object.month}
  if object.token == '@@'
    .span3.block
      a(href='#')
        .event(style='background: white; color: black; top: 0%; display: block;')
          .details
            h2 #{object.name_trimmed} em #{object.location}
            .time(style='display: none;') #{object.date};#{object.token}
          .date #{object.date.day} de #{object.month}
  if object.token == '>>'
    .span3.block
      a(href='#')
        .schedule(href='schedule', style='background: #6D1943; color: white; top: 0%; display: block;')
          .details
            h2 #{object.name_trimmed}
            .time(style='display: none;') #{object.date};#{object.token}
          .date #{object.date.day} de #{object.month}
  if object.token == '>'
    .span3.block
      a(href='#{object.token()}')
        .playable(style='top: 0%; display: block;')
          .details
            h2 #{object.name_trimmed}
            .time(style='display: none;') #{object.date};#{object.name.token}
          .date #{object.date.day} de #{object.month}
      .action
        if object.visual != true
          img(src='#{static_url}img/playit.png', height='100%')
        else
          img(src='#{object.visual}', height='100%', width='100%')
  if object.token == '##'
    .span3.block
      a(href='#')
        .movement(href='movement?view=#{object.name}', style='background: #1364F0; color: white; top: 0%; display: block;')
          .details
            h2 #{object.name_trimmed}
            .time(style='display: none;') #{object.date};#{object.token}
          .date #{object.date.day} de #{object.month}
  if object.token == '@#'
    .span3.block
      a(href='#')
        .causablespread(style='background: black; top: 0%; display: block;')
          .details
            | ##{object.name_trimmed}
            .time(style='display: none;') #{object.date};#{object.token}
          .date #{object.date.day} de #{object.month}
        .eventspread(style='background: red; top: 33%; display: block; height: 33%;')
        .eventspread(style='background: white; top: 66%; display: block; height: 34%;')
  if object.token == '#'
    .span3.block.fade
      a(href='#{object.play.token}')
        if '#' in object.initial
          .mosaic-overlay(style='top: 0%; display: block;')
            .details
              h2 #{object.trim}
              .time(style='display: none;') #{object.date};#{object.token}
            .date #{object.date.day} de #{object.month}
        else
          .causable.mosaic-overlay(style='top: 0%; display: block;')
            .details
              h2 #{object.trim}
              .time(style='display: none;') #{object.date};#{object.token}
            .date #{object.date.day} de #{object.month}
      .action
        if object.play.visual != true
          img(src='#{static_url}img/cause.png', height='100%')
        else
          img(src='#{object.play.visual}', height='100%', width='100%')
  if object.token == '%%'
    .span3.block-transparent
  if object.token == ''
    .span3.block.fade
      a.profile.mosaic-overlay(href='#')
        div
          //h2 #{object.user.first_name}
        .name(style='display: none;') #{object.name}
        .details #{object.date.day} de #{object.month}
      div(style='background: black; top: 0;')
        //img(src='#{object.user.profile.visual}', width='80%', height='100%', style='margin-left: 10%;')
      //.span3.block
        a.more(href='#', style='float: left; color: black; width: 100%;')
          .loadable(name='', href='/', style='background: white; top: 0%; display: block; text-align: center;')
            img(src='#{static_url}img/helice.png', height='100%')
