each object in f
  if object.token == ''
    a.span3.block.profile(href='#',style='background:black')
      .box
        .content
          h2 #{object.user.first_name}
          .id.hidden #{object.id}
        img(src='#{object.visual}',width='100%')
      .date #{object.date.day} de #{object.month} 

  if object.token == '!'
    a.span3.block.spreadable(href='#',style='background:#00A946; color:white;')
      .box
        .content {{ object.content|safe }}
        .id.hidden #{object.id}
      .date #{object.date.day} de #{object.month}
  if object.token == '@@'
    a.span3.block.event(href='#',style='background: #F50000')
      .box
        .content 
          h2 #{object.name_trimmed} em #{object.location}
        .id.hidden #{object.id}
      .date #{object.date.day} de #{object.month}
  if object.etoken == '>'
    a.span3.block.playable(href='#{object.token}',style='background: #1364F0')
      .box
        img(src='#{object.visual}')
        .id.hidden #{object.id}
      .date #{object.date.day} de #{object.month}
  if object.token == '!%'
    a.span3.block.image(href='#',style='background:black')
      .box
        .content(style='padding:0px;') 
          img(src='#{object.link}')
        .id.hidden #{object.id}
      .date #{object.date.day} de #{object.month}
  if object.token == '!#'
    a.span3.block.page(href='#',style='background:#F9A600')
      .box
        .content
          h2 #{object.name}
          {{ object.content|safe }}
        .id.hidden #{object.id}
      .date #{object.date.day} de #{object.month}
      
  if object.token == '#'
    a.span3.block.causable(href='#{object.ytoken}',style='display:block; color:white; background-color:#6D1943')
      .box
        .content
          h2 #{object.trim}
          {{ object.content|safe }}
        img(src='#{object.visual}')
        .id.hidden #{object.id}
      .date #{object.date.day} de #{object.month}
  if object.token == '##'
    a.span3.block.movement(href='movement?view=#{object.name}',style='background: #1364F0')
      .box
        .content
          h2 #{object.name_trimmed}
          .id.hidden #{object.id}
      .date #{object.date.day} de #{object.month}

  if object.token == '^'
    .span3.block(style='display: none;')
      a.back(href='#', style='float: left; color: black; height:100%; width: 100%;')
        div(style='background: black; height: 100%; top: 0%; display: block; text-align: center;')
          img(src='#{static_url}img/spin.png', style='height:100%')
  if object.token == '++'
    .span3.block.fade
      a(href='#')
        .mosaic(style='top: 0%; display: block;')
          .details(style='text-align: center;')
            h2
              if object.quantity != 1 
                #{object.quantity} #{object.product_trimmed}
            p #{object.total_value} Créditos
            .time(style='display: none;') #{object.product.date}
          .date #{object.product.date.day} de #{object.product_month}
      div(style='top: 0; background: white; text-align: center;')
        if object.product.visual != true
          img(src='#{static_url}img/playit.png', height='100%')
        else
          img(src='#{object.product.visual}', height='100%')
  if object.token == '&'
    .span3.block.fade
      a(href='#')
        .product.mosaic(style='top: 0%; display: block;')
          .details
            h2 #{object.name_trimmed}
            .time(style='display: none;') #{object.date}
          .date #{object.date.day} de #{object.real_month}
      div(style='top: 0; background: white; text-align: center;')
        if object.visual != true
          img(src='#{static_url}img/playit.png', height='100%')
        else
          img(src='#{object.visual}', height='100%')
  if object.token == '@!'
    .span3.block(style='background: #E9E900')
      a(href='#')
        .spreadablespread(style='color: black; top: 0%; display: block;')
          .details
            | #{object.content_trimmed}...
            .time(style='display: none;') #{object.date};#{object.token}
          .date #{object.date.day} de #{object.month}
  if object.token == '@$'
    .span3.block(style='background: #F50000')
      a(href='#')
        .eventspread(style='top: 0%; display: block;')
          .details
            #{object.name_trimmed}
            .time(style='display: none;') #{object.date};#{object.token}@
          .date #{object.date.day} de #{object.month}
  if object.token == '>>'
    .span3.block(style='background: #6D1943')
      a(href='#')
        .schedule(href='schedule', style='color: white; top: 0%; display: block;')
          .details
            h2 #{object.name_trimmed}
            .time(style='display: none;') #{object.date};#{object.token}
          .date #{object.date.day} de #{object.month}
  if object.token == '@#'
    .span3.block(style='background: #DEDEDE')
      a(href='#')
        .causablespread(style='color: black; top: 0%; display: block;')
          .details
            | ##{object.name_trimmed}
            .time(style='display: none;') #{object.date};#{object.token}
          .date #{object.date.day} de #{object.month}
