each object in f.object_list
  if object.token == '' and object.id != p.id
    a.span3.block.profile(href='#',style='background:black')
      .box
        .content
          h2.name #{object.user.first_name}
          .centered #{object.career}
          .id.hidden #{object.id}
        img(src='#{object.visual}',width='100%')
        .content.centered
          #{object.bio}
      .date #{object.date.day} de #{object.month} 
  
  if object.token == '$$'
    a.span3.block.product(href='#',style='background-color:white')
      .box(style='background-color:#111')
        .content
          h1.title(style='color:white') #{object.name_trimmed}
          h2(style='color:#04C869') R$ #{object.credit}0
          p(style='color:white') #{object.description}
          .id.hidden #{object.id}
        if object.visual
          img(src='#{object.visual}',height='100%')
        else
          img(src='#{static_url}img/playit.png',height='100%')
      .date(style='color:black') #{object.date.day} de #{object.month}

  if object.token == '!'
    a.span3.block.spreadable(href='#',style='background:#00A946; color:white;')
      .box
        .content {{ object.content|safe }}
        .id.hidden #{object.id}
      .date #{object.date.day} de #{object.month}
  if object.token == '@@'
    a.span3.block.event(href='#',style='background: #F50000')
      .box
        .content 
          h2 #{object.name_trimmed} em #{object.location}
        .id.hidden #{object.id}
      .date #{object.date.day} de #{object.month}
  if object.etoken == '>'
    a.span3.block.playable(href='#{object.token}',style='background: #1364F0')
      .box
        img(src='#{object.visual}')
        .id.hidden #{object.id}
      .date #{object.date.day} de #{object.month}
  if object.token == '!%'
    a.span3.block.image(href='#',style='background:white')
      .box(style='background:black')
        .content(style='padding:0px;')
          img(src='#{object.link}',alt='#{object.description}')
        .id.hidden #{object.id}
      .date(style='color:black') #{object.date.day} de #{object.month}
  if object.token == '!#'
    a.span3.block.page(href='#',style='background:#F9A600')
      .box
        .content
          h2 #{object.name_trimmed}
          {{ object.content|safe }}
        .id.hidden #{object.id}
      .date #{object.date.day} de #{object.month}
      
  if object.token == '!!'
    a.span3.block.spreaded(href='#',style='background: #00CB68; color:black')
      .comment(style='background:#008724')
      .comment(style='background:#00A946')
      .box
        .content
          h2 Textos espalhados por #{object.user.username} e outros
        .id.hidden #{object.id}
        .spreadedid.hidden #{object.spread}
        .spreadedtoken.hidden #{object.stoken}
      .date #{object.date.day} de #{object.month}
  
  if object.token == '@!'
    a.span3.block.spreaded(href='#',style='background: #F70000; color:black')
      .comment(style='background:#D30000')
      .comment(style='background:#F50000')
      .box
        .content
          h2 Eventos espalhados por #{object.user.username} e outros
        .id.hidden #{object.id}
        .spreadedid.hidden #{object.spread}
        .spreadedtoken.hidden #{object.stoken}
      .date #{object.date.day} de #{object.month} 
  if object.token == '>!' 
    a.span3.block.spreaded(href='#',style='background: #3586F2; color:black')
      .comment(style='background:#0142D0')
      .comment(style='background:#1364F0')
      .box
        .content
          h2 Vídeos espalhados por #{object.user.username} e outros
        .id.hidden #{object.id}
        .spreadedid.hidden #{object.spread}
        .spreadedtoken.hidden #{object.stoken}
      .date #{object.date.day} de #{object.month}
  if object.token == '%!'
    a.span3.block.spreaded(href='#',style='background: #444; color:white')
      .comment(style='background:#000')
      .comment(style='background:#222')
      .box
        .content
          h2 Imagens espalhadas por #{object.user.username} e outros
        .id.hidden #{object.id}
        .spreadedid.hidden #{object.spread}
        .spreadedtoken.hidden #{object.stoken}
      .date #{object.date.day} de #{object.month}
  
  if object.token == '@#'    
    a.span3.block.promoted(href='#',style='background: #8F3B65; color:white')
      .comment(style='background:#4B0721')
      .comment(style='background:#6D1943')
      .box
        .content
          h2 Projeto promovido por #{object.user.username} e outros
          #{object.content}
        .id.hidden #{object.id}
        .promotedid.hidden #{object.prom}
        .promotedtoken.hidden #{object.stoken}
      .date #{object.date.day} de #{object.month}
  if object.token == '$#'    
    a.span3.block.promoted(href='#',style='background: #57F2F6; color:white')
      .comment(style='background:#13C0B2')
      .comment(style='background:#35E0D4')
      .box
        .content
          h2 Projeto promovido em um movimento de #{object.user.username}
          #{object.content}
        .id.hidden #{object.id}
        .promotedid.hidden #{object.prom}
        .promotedtoken.hidden #{object.stoken}
      .date #{object.date.day} de #{object.month}
  if object.token == '#'
    a.span3.block.project(href='#',style='display:block; color:white; background-color:#6D1943')
      .box
        .content
          h2 #{object.name_trimmed}
          if object.funded
            h2.funded.lightgreen Projeto financiado
          {{ object.content|safe }}
        img(src='#{object.visual}')
        .id.hidden #{object.id}
      .date #{object.date.day} de #{object.month}
  if object.token == '##'
    a.span3.block.movement(href='#',style='background-color:#35E0D4')
      .box
        .content
          h2.title #{object.name_trimmed}
          .id.hidden #{object.id}
      .date #{object.date.day} de #{object.month}

  if object.token == '++'
    .span3.block.fade
      a(href='#')
        .mosaic(style='top: 0%; display: block;')
          .details(style='text-align: center;')
            h2
              if object.quantity != 1 
                #{object.quantity} #{object.product_trimmed}
            p #{object.total_value} Créditos
            .time(style='display: none;') #{object.product.date}
          .date #{object.product.date.day} de #{object.product_month}
      div(style='top: 0; background: white; text-align: center;')
        if object.product.visual != true
          img(src='#{static_url}img/playit.png', height='100%')
        else
          img(src='#{object.product.visual}', height='100%')

.hidden.navigation(href='#{path}')     
  {{f.render}}
