!!! 5
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='#{static_url}css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='#{static_url}css/bootstrap-responsive.min.css')
    link(rel='stylesheet', type='text/css', href='#{static_url}css/bootstrap-wysiwyg.css')
    link(rel='stylesheet', type='text/css', href='#{static_url}css/efforia.css')
    link(rel='shortcut icon', href='#{static_url}img/logo.png')
    script(type='text/javascript', src='#{static_url}js/vendor/jquery.min.js')
    script(type='text/javascript', src='#{static_url}js/vendor/jquery.masonry.min.js')
    script(type='text/javascript', src='#{static_url}js/vendor/jquery-tubeplayer.js')
    script(type='text/javascript', src='#{static_url}js/vendor/jquery-easing.js')
    script(type='text/javascript', src='#{static_url}js/vendor/jquery-html5-fileupload.js')
    script(type='text/javascript', src='#{static_url}js/vendor/canvg.js')
    script(type='text/javascript', src='#{static_url}js/vendor/wysihtml5.min.js')
    script(type='text/javascript', src='#{static_url}js/vendor/bootstrap.min.js')
    script(type='text/javascript', src='#{static_url}js/vendor/bootstrap-wysiwyg.min.js')
    script(type='text/javascript', src='#{static_url}js/vendor/bootstrap-wysiwyg.pt-BR.js')
    script(type='text/javascript', src='#{static_url}js/core.js')
    script(type='text/javascript', src='#{static_url}js/create.js')
    script(type='text/javascript', src='#{static_url}js/spread.js')
    script(type='text/javascript', src='#{static_url}js/play.js')
    script(type='text/javascript', src='#{static_url}js/store.js')
    script(type='text/javascript', src='#{static_url}js/explore.js')
    script(type='text/javascript', src='#{static_url}js/spin.js')
    script(type='text/javascript', src='#{static_url}js/dinamo.fx.js')
    script(type='text/javascript', src='#{static_url}js/dinamo.js')
    script(type='text/javascript', src='#{static_url}js/globals.js')
    script(type='text/javascript', src='#{static_url}js/events.js')
    script(type='text/javascript', src='#{static_url}js/main.js')
    title Efforia
  body
    #Navegacao.navbar.navbar-fixed-top
        .navbar-inner
            .container
                a.menu.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand(href='/')
                    img(src='#{static_url}img/efforia.png', style='margin-top:2px;')
                .nav-collapse.collapse
                    ul.nav
                        li.dropdown
                            a(href="#",class="dropdown-toggle",data-toggle="dropdown") {{ user.first_name }}
                                b.caret
                            ul.dropdown-menu
                                img(style='border: 3px solid white; border-radius: 5px;', src='', width='80%')
                                h2.profilehead
                                    dl
                                        dt  {{ user.first_name }} 
                                        dt  {{ user.profile.credit }} Créditos
                                .buyable(style='width: 100%; cursor: pointer;')
                                li.divider
                                li
                                    a.logout(href='#') Sair
                        li
                            a.app.action0.nav(href='spreads', title='O que você quer espalhar hoje?') Espalhe
                        li
                            a.app.action1.nav(href='store', title='O que você quer comprar hoje?') Compre
                        li
                            a.app.action2.nav(href='create', title='O que você quer criar hoje?') Promova 
                        li
                            a.config(href='config')
                               img(src='#{static_url}img/config.png', width='20', height='20')
                        li
                            a.cart(href='cart')
                               img(src='#{static_url}img/cart.png', width='20', height='20')
                        li.dropdown
                            a(href='#',class="dropdown-toggle",data-toggle="dropdown")
                               img(src='#{static_url}img/filter.png',width='20',height='20')
                            ul.dropdown-menu
                               li.submenu
                                   a
                                   input.styled(type='checkbox')
                                   | Lugares
                               li.submenu
                                   a
                                   input.styled(type='checkbox')
                                   | Pessoas
                               li.submenu 
                                   a
                                   input.styled(type='checkbox')
                                   | Postagens
                               li.submenu
                                   a
                                   input.styled(type='checkbox')
                                   | Vídeos
                               li.submenu
                                   a
                                   input.styled(type='checkbox')
                                   | Eventos
                               li.submenu
                                   a
                                   input.styled(type='checkbox')
                                   | Causas
                               li.submenu
                                   a
                                   input.styled(type='checkbox')
                                   | Movimentos
                               li.submenu
                                   a
                                   input.styled(type='checkbox')
                                   | Programações    
                    form#explore.navbar-search.pull-left(action='explore',method='GET')
                        input(type="text",class="search-query",placeholder="Explore")
    #Grade
    #Canvas.FixoCentral
      canvas#efforia
    #Espaco.modal.hide.fade
