!!! 5
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='#{static_url}css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='#{static_url}css/bootstrap-responsive.min.css')
    link(rel='stylesheet', type='text/css', href='#{static_url}css/efforia.css')
    link(rel='shortcut icon', href='#{static_url}images/logo.png')
    script(type='text/javascript', src='#{static_url}libraries/custom-form-elements.js')
    script(type='text/javascript', src='#{static_url}libraries/jquery.js')
    script(type='text/javascript', src='#{static_url}libraries/jquery-ui-black.js')
    script(type='text/javascript', src='#{static_url}libraries/jquery.ui.datepicker-pt-BR.js')
    script(type='text/javascript', src='#{static_url}libraries/jquery-tubeplayer.js')
    script(type='text/javascript', src='#{static_url}libraries/jquery-mosaic.js')
    script(type='text/javascript', src='#{static_url}libraries/jquery-masonry.js')
    script(type='text/javascript', src='#{static_url}libraries/jquery-easing.js')
    script(type='text/javascript', src='#{static_url}libraries/jquery-dropdown.js')
    script(type='text/javascript', src='#{static_url}libraries/jquery-html5-fileupload.js')
    script(type='text/javascript', src='#{static_url}libraries/canvg.js')
    script(type='text/javascript', src='#{static_url}js/vendor/bootstrap.min.js')
    script(type='text/javascript', src='#{static_url}modules/core.js')
    script(type='text/javascript', src='#{static_url}modules/create.js')
    script(type='text/javascript', src='#{static_url}modules/spread.js')
    script(type='text/javascript', src='#{static_url}modules/play.js')
    script(type='text/javascript', src='#{static_url}modules/store.js')
    script(type='text/javascript', src='#{static_url}modules/explore.js')
    script(type='text/javascript', src='#{static_url}modules/spin.js')
    script(type='text/javascript', src='#{static_url}js/zhockon.fx.js')
    script(type='text/javascript', src='#{static_url}js/zhockon.ui.js')
    script(type='text/javascript', src='#{static_url}js/zhockon.js')
    script(type='text/javascript', src='#{static_url}js/efforia.globals.js')
    script(type='text/javascript', src='#{static_url}js/efforia.event.js')
    script(type='text/javascript', src='#{static_url}js/efforia.main.js')
    title Efforia
  body
    #Navegacao.navbar.navbar-fixed-top
        .navbar-inner
            .container
                a.menu.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand(href='/')
                    img(src='#{static_url}img/efforia.png', style='height: 40px')
                .nav-collapse.collapse
                    ul.nav
                        li.dropdown
                            a(href="#",class="dropdown-toggle",data-toggle="dropdown") {{ user.first_name }}
                                b.caret
                            ul.dropdown-menu
                                img(style='border: 3px solid white; border-radius: 5px;', src='', width='80%')
                                h2.profilehead
                                    dl
                                        dt  {{ user.first_name }} 
                                        dt  {{ user.profile.credit }} Créditos
                                .buyable(style='width: 100%; cursor: pointer;')
                                li
                                    a.favorites(href='favorites') Favoritos
                                li.divider
                                li
                                    a.logout(href='#') Sair
                        li.active
                            a#spread.nav(href='spreads', title='O que você quer espalhar hoje?') Espalhe
                        li
                            a#store.nav(href='store', title='O que você quer comprar hoje?') Compre
                        li
                            a#create.nav(href='create', title='O que você quer criar hoje?') Promova 
                        li
                            a#play.nav(href='play', title='O que você quer ver hoje?') Toque
                        //li
                            a#connect.nav(href='connect', title='O que você quer ver hoje?') Conecte
                        li
                            a.config(href='config')
                               img(src='#{static_url}images/config.png', width='20', height='20')
                        li
                            a.cart(href='cart')
                               img(src='#{static_url}images/cart.png', width='20', height='20')
                        li.dropdown
                            a(href='#',class="dropdown-toggle",data-toggle="dropdown")
                               img(src='#{static_url}images/filter.png',width='20',height='20')
                            ul.dropdown-menu
                               li.submenu
                                   a
                                   input.styled(type='checkbox')
                                   | Lugares
                               li.submenu
                                   a
                                   input.styled(type='checkbox')
                                   | Pessoas
                               li.submenu 
                                   a
                                   input.styled(type='checkbox')
                                   | Postagens
                               li.submenu
                                   a
                                   input.styled(type='checkbox')
                                   | Vídeos
                               li.submenu
                                   a
                                   input.styled(type='checkbox')
                                   | Eventos
                               li.submenu
                                   a
                                   input.styled(type='checkbox')
                                   | Causas
                               li.submenu
                                   a
                                   input.styled(type='checkbox')
                                   | Movimentos
                               li.submenu
                                   a
                                   input.styled(type='checkbox')
                                   | Programações    
                    form#explore.navbar-search.pull-left(action='explore',method='GET')
                        input(type="text",class="search-query",placeholder="Explore")
    #Grade
    #Canvas.FixoCentral
      canvas#efforia
    #Espaco
