button.btn.btn-black.integration(href='http://social.efforia.com.br/twitter?node=#{hostname}&session=#{session}')
        img(width="128",src="#{static_url}img/twitter.png")
button.btn.btn-black.integration(href='http://social.efforia.com.br/facebook?node=#{hostname}&session=#{session}')
        img(width="128",src="#{static_url}img/facebook.png")
button.btn.btn-black.integration(href='http://social.efforia.com.br/google?node=#{hostname}&session=#{session}')
        img(width="128",src="#{static_url}img/youtube.png")
