.modal-header
  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
  h3 Novos Usuários
.modal-body(style='background-color:#156AFF')
  form.registerview
    input.span3(type='text',name='name',placeholder='Nome completo')
    input.span3(type='text',name='username',placeholder='Usuário')
    input.span3(name='password',type='password',placeholder='Senha')
    input.span3(name='repeatpassword',type='password',placeholder='Repetir a senha')
    button.btn.btn-black.btn-block.integration(href='http://social.efforia.com.br/twitter?node=#{hostname}&session=1')
        img(width="128",src="#{static_url}img/twitter.png")
    button.btn.btn-black.btn-block.integration(href='http://social.efforia.com.br/facebook?node=#{hostname}&session=1')
        img(width="128",src="#{static_url}img/facebook.png")
    button.btn.btn-black.btn-block.integration(href='http://social.efforia.com.br/google?node=#{hostname}&session=1')
        img(width="128",src="#{static_url}img/youtube.png")