head
    each app in apps
        script(type='text/javascript', src='#{static_url}js/#{app}app.js')
        script(type='text/javascript', src='#{static_url}js/#{app}events.js')
body
    .hidden.navigation(href='#{path}')     
      {{f.render}}
    each object in f.object_list
      if object.token == '' and object.id != p.id
        a.span3.block.profile(href='#',style='background:black')
          .box
            .content
              h2.name #{object.user.first_name}
              .centered #{object.career}
              .id.hidden #{object.id}
            img(src='#{object.visual}',width='100%')
            .content.centered
              #{object.bio}
          .date #{object.date.day} de #{object.month} 
      if object.token == '$$'
        a.span3.block.sellable(href='#',style='background-color:white')
          .box(style='background-color:#333')
            .content
              h2.title(style='color:white') #{object.name_trimmed}
              h1(style='color:#04C869') R$ #{object.value}0
              .id.hidden #{object.id}
            if object.visual
              img(src='#{object.visual}',height='100%')
            else
              img(src='#{static_url}img/playit.png',height='100%')

