img(src='#{profile.visual}',width='100%')
h2
  dl
    dt  #{profile.user.first_name} 
    dt  #{profile.credit} Créditos
if nothimself
  if followed
    li
      button.btn.btn-success.unfollow(data-loading-text='Deixando...',style='margin-bottom:5%; margin-left:5%; width:90%;') Seguindo
      .id.hidden #{profile.id}
  else
    li
      button.btn.btn-primary.follow(data-loading-text='Seguindo...',style='margin-bottom:5%; margin-left:5%; width:90%;') Seguir
      .id.hidden #{profile.id}